.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    .btn-danger {
        margin-left: 2em;
    }
    #button-add-delivery {
        justify-self: flex-start;
        margin-right: auto;
    }
}

th,td {
    word-wrap: break-word;
}
