$bs-green: rgb(40, 167, 69);

.font-bold {
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
    margin-top: 2em;
}

#button-save-delivery {
    margin-left: 2em;
}

#button-cancel-delivery {
    border-color: $bs-green;
    border-width: 1px;
    background-color: white;
    color: $bs-green;

    &:hover {
        border: 0;
        background-color: $bs-green;
        color: white;
    }
}
