<div id="route-container">
        <div class="font-bold">
            <p id="route-label">Rota</p>
        </div>
        <div class="add-route-container">
            <div id="input-and-display-address" class="col col-xl-6 col-lg-12">
                <div class="form-group">
                    <input class="form-control" #search [formControl]="searchControl" type="text" placeholder="Search for Location" autocorrect="off"
                        autocapitalize="off" spellcheck="off">
                </div>
                <div id="addresses-container">
                    <ul *ngFor="let point of delivery.route.points; let index = index; trackBy: trackByIndex;">
                        <div class="line">
                            <div class="letter-marker">{{ alphabeticLabels[index] }}</div>
                            <div>
                                <li>
                                    <div>{{ point.address.street }}</div>
                                    <input class="address-complement" placeholder="Ex.: AP 65 ou CASA 2" [(ngModel)]="point.address.additionalInfo">
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <div id="distance-price-container">
                    <div id="distance-container">
                        <div class="font-bold">
                            <p id="distance-label">Distância</p>
                        </div>
                        <div id="distance-value">{{ delivery.route.totalDistance }} km</div>
                    </div>
                    <div id="price-container">
                            <div class="font-bold">
                                <p id="price-label">Valor Total</p>
                            </div>
                            <div id="price-value">{{ delivery.route.totalDue | currency:'BRL' }}</div>
                    </div>
                </div>
            </div>
            <div id="map" class="col col-xl-6 col-lg-12">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

                    <div *ngIf="markers.length === 1">
                        <agm-marker [latitude]="markers[0].lat" [longitude]="markers[0].lng" [label]="markers[0].label">
                        </agm-marker>
                    </div>

                </agm-map>
            </div>
        </div>
        <div id="points-container" class="col col-lg-12">
            <div class="font-bold" >
                <p id="points-label">Pontos</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Endereço</th>
                        <th>Responsável</th>
                        <th>Horário Agendado</th>
                        <th>Tempo de Espera</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let point of delivery.route.points; let index = index; trackBy: trackByIndex;">
                        <td class="line center">
                            <div class="letter-marker"> {{ alphabeticLabels[index] }} </div>
                        </td>
                        <td>{{ point.address.street }}</td>
                        <td>
                            <input pInputText class="personResponsible" placeholder="Insira a pessoa responsável..." [(ngModel)]="point.personResponsible">
                        </td>
                        <td>
                            <input pInputText class="scheduledArrivalTime" placeholder="Insira a hora agendada..." [(ngModel)]="point.scheduledArrivalTime">
                        </td>
                        <td>
                            <input pInputText class="waitingTime" placeholder="Insira o tempo de espera..." [(ngModel)]="point.waitingTime">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
