$bs-green: rgb(40, 167, 69);

.font-bold {
    font-weight: bold;
}

.cliente-container {
    margin-bottom: 2em;
    display: inline-block;

    .button-add-cliente {
        margin-left: 0.5em;
    }
}

fieldset.col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

app-add-route {
    padding: 1em;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
    margin-top: 2em;
}

#button-save-delivery {
    margin-left: 2em;
}

#button-cancel-delivery {
    border-color: $bs-green;
    border-width: 1px;
    background-color: white;
    color: $bs-green;

    &:hover {
        border: 0;
        background-color: $bs-green;
        color: white;
    }
}

.money-payment-container {
    margin-left: 1em;
    margin-top: 1em;
}
