<div [@routerTransition]>
    <app-page-header [heading]="'Fluxo de Caixa'" [icon]="'fa-usd'"></app-page-header>
    <div class="row">
            <div class="col col-xl-7 col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">Pagamento Clientes</div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let col of customerCols">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customersCashFlow">
                                    <td *ngFor="let col of customerCols">
                                        {{ customer[col.field] | looseCurrency:'BRL' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Despesas Fixas</div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let col of expensesCols">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let expense of expenses">
                                    <td *ngFor="let col of expensesCols">
                                        {{ expense[col.field] | looseCurrency:'BRL' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col col-xl-5 col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">Salário Bikers</div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let col of bikerCols">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let biker of bikersCashFlow">
                                    <td *ngFor="let col of bikerCols">
                                        {{ biker[col.field] | looseCurrency:'BRL' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Lucro</div>
                    <div class="card-body table-responsive" [ngStyle]="{'color':profit < 0 ? 'red' : 'green'}">
                        {{ profit | looseCurrency:'BRL' }}
                    </div>
                </div>
            </div>
        </div>
</div>
